@import 'tailwindcss';
@plugin "daisyui";
@theme {
  --animate-fade: fadeUp 1s ease-in-out 500ms forwards;
  --animate-wipe-in: wipeIn 1s ease-in-out 500ms forwards;
  --animate-wipe-out: wipeOut 1s ease-in-out 500ms forwards;

  @keyframes fadeUp {
    0% {
      transform: translateY(80%);
      opacity: 0%;
    }
    50% {
      transform: translateY(-20%);
      opacity: 5%;
    }
    100% {
      transform: translateY(0);
      opacity: 10%;
    }
  }

  @keyframes wipeIn {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes wipeOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

html,
body {
  @apply bg-white dark:bg-slate-700;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

html {
  overflow-y: scroll;
}
