@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Hide scrollbar but allow scrolling */
html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

body {
  margin: 0;
  display: flex;
  min-width: 280px;
  min-height: 100vh;
  overscroll-behavior: none;
}

#root {
  width: 100%;
}

/* Uncomment for CSS debugging */
/* * {
  outline: 1px solid white;
} */
